[submodule "fun/ext/pitools"]
	path = fun/ext/pitools
	url = http://github.com/pabloi/pi-tools
[submodule "fun/ext/markerDataCleaning"]
	path = fun/ext/markerDataCleaning
	url = https://github.com/pabloi/markerDataCleaning
